body
{
background-color: bisque;
{
footer
{
background-color:black;
color: white;
position: fixed
botton 0;
width.100%
high-tech 2rem;
}
footer
{
text-align:center;
fontsize: 0.6 rem;
margin-tor 0.5 rem;
}
body
{
background-color: bisque;
font-family: Baixos Jam Jucce;
}
